aaa new-model
aaa authentication login default group radius local
aaa authorization console
aaa authorization exec default group radius local
aaa session-id common
ip http authentication aaa login-authentication default
ip http authentication aaa exec-authorization default


radius-server attribute 6 on-for-login-auth
aaa group server radius radsvr
 server name local_radius
 server name remote_radius

radius server local_radius
 address ipv4 {{aaa_radius_server_ipv4_4}} auth-port {{aaa_radius_auth_port}} acct-port {{aaa_radius_acct_port}}
 timeout {{aaa_radius_timeout}}
 retransmit {{aaa_radius_retransmit}}
 non-standard
 key {{aaa_radius_key}}